body{
    background-image: url('../0106/images/고양이.png');
    background-repeat: no-repeat ;
    background-size:auto ;
    background-position: center;
    background-color: rgba(red, green, blue, alpha);
    background-blend-mode: overlay;
}

h1{
    color: #ccc ;
}